@import url("https://fonts.googleapis.com/css?family=Oswald");

.title-image {
  top: 0px;
  left: 0px;
  height: 260px;
  width: 280px;
  position: relative;
  margin: 5px;
}

.title-container{
  font-family: 'Oswald', sans-serif;
  color: #04327c;
  font-size: 40px;
  text-align: center;
  height: 330px;
  width: 100%;
  top: 0px;
  left: 0px;
  margin: 10px;
  overflow: hidden;
}
